body {
    background-image: url('../img/desarrolloSoftware.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

header {
    background-color: #e10f0f;
    color: #0fde20;
    text-align: center;
    padding: 12px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

h2 {
    margin-top: 5px;
    font-size: 1.5em;
}

.presentation {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(207, 174, 174, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.presentation img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px; 
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #e10f0f;
    color: #0fde20;
    text-align: center;
    padding: 12px;
}
.presentation {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(207, 174, 174, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.presentation h3 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between; /* Coloca los elementos en los extremos del contenedor */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
}

.centered-image {
    max-width: 40%; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-wrapper p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo según tus preferencias */
    text-align: justify; /* Ajusta la alineación del texto según tus preferencias */
    margin-top: -200px;
}
