@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

::-webkit-scrollbar {
    width: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0000;
    font-family: "Inter", sans-serif;
    background-color: #000000;
}

.contenedor {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    display: flex;
}

@media (min-width:768px) {
    .contenedor {
        height: 50rem;
        width: 25rem;
        border-radius: 40px;
        border: 10px solid #2e2e2e;
    }
}

.contenedor .pantalla {
    min-width: 100%;
    flex: 1;
    transition: all 0.3s;
}

.fondo-de-pantalla {
    width: 135%;
    height: 25rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 50% 50%;
    background-color: #e9742c;
    z-index: -1;
    transition: all 0.3s;
}

.contenedor.ver-categoria .inicio-pantalla {
    transform: translateX(-100%);
}

.contenedor.ver-categoria .categoria-pantalla {
    transform: translateX(-100%);
}

.contenedor.ver-categoria .fondo-de-pantalla {
    transform: translate(-50%, -60%)
}

.cabeza-contenedor {
    padding: 0 30px;
}

.menu-btn {
    width: 2rem;
    cursor: pointer;
    color: #ffffff;
}

.bienvenido {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #ffffff;
}

.bienvenido h1 {
    font-size: 1.5rem;
}

.bienvenido p {
    font-weight: 500;
}

.bienvenido .img {
    position: relative;
}

.bienvenido .img .fondo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3.8rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #e5e7fd;
    z-index: -1;
}

.bienvenido .img img {
    width: 5rem;
}

.categorias-contenedor {
    margin-top: 1rem;
    padding: 0 30px;
    height: calc(100% - 8rem);
    padding-bottom: 20px;
    overflow: auto;
}

.categorias {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categoria {
    background: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px 5px #00000023;
    transition: all 0.3s;

}

.categoria:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 5px #00000040;
}

.categoria .left {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.categoria .left img {
    width: 3rem;
}

.categoria .contenido h1 {
    font-size: 1.5rem;
}

.categoria .contenido p {
    color: #2e2e2e;
    font-size: 0.8rem;
    opacity: 0.6;
}

.categoria .opciones {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.categoria:hover .opciones {
    opacity: 1;
    visibility: visible;
}

.categoria .alternar-btn {
    width: 2rem;
    cursor: pointer;
    opacity: 0.6;
}

.categoria .alternar-btn:hover {
    opacity: 1;
}


/* Category Screen */
.categoria-pantalla .cabeza-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoria-pantalla .cabeza-contenedor svg {
    width: 2rem;
    cursor: pointer;
    color: #fff;
}

.categoria-detalles {
    padding: 0 30px;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.categoria-detalles img {
    width: 4rem;
}

.categoria-detalles .categoria-detalles p {
    opacity: 0.6;
}

/* tasks */
.tareas-contenedor {
    padding: 0 30px;
    margin-top: 1rem;
    height: calc(100% - 12rem);
    padding-bottom: 20px;
    overflow: auto;
}

.tareas {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tareas-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.tareas {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    width: max-content;
    cursor: pointer;
}


.tarea entrada {
    display: none;
}

.tarea .marcado {
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    border: 1px solid #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarea .marcado svg {
    width: 1rem;
    color: #2e2e2e;
    opacity: 0;
    transition: all 0.3s;
}

.tarea:hover .marcado svg {
    opacity: 1;
}

.tarea .marcado svg path {
    stroke-width: 3;
}

.tarea entrada:checked~.marcado {
    background-color: #2e2e2e;
}

.tarea entrada:checked~.marcado svg {
    opacity: 1;
    color: #fff;
}

.tarea entrada:checked~p {
    text-decoration: line-through;
    opacity: 0.6;
}

.tarea-contenedor .eliminar {
    min-width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: #2e2e2e;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.031);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.tarea-contenedor:hover .eliminar {
    opacity: 1;
    visibility: visible;
}

.tarea-contenedor .eliminar:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.1);
}

.no-tareas {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.6;
}

/* Add Task */
.añadir-tarea-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #39a6f0;
    transition: all 0.3s;
}

.añadir-tarea-btn:hover {
    transform: scale(1.1);
}

.añadir-tarea-btn.active {
    z-index: 1;
    bottom: 20rem;
    transform: rotate(45deg);
}

.añadir-tarea-btn svg {
    width: 2rem;
    color: #fff;
}

.añadir-tarea {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    transition: all 0.3s;
}

.añadir-tarea.active {
    bottom: 0;
}

.añadir-tarea .encabezado {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.entrada-grupo {
    position: relative;
    margin-bottom: 20px;
}

.entrada-grupo entrada,
.entrada-grupo label {
    display: block;
    width: 100%;
}

.entrada-grupo entrada,
.entrada-grupo select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.entrada-grupo label {
    width: max-content;
    padding: 0 5px;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.btns {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.btns button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s;
    z-index: 1;
}

button.añadir-btn {
    background-color: #39a6f0;
    color: #fff
}

.añadir-tarea-fondo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 135%;
    height: 20rem;
    border-radius: 50% 50% 0 0;
    background-color: #fff;
}

.negro-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: #00000023;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.negro-fondo.active {
    opacity: 1;
    visibility: visible;
}