

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1e1c1c; 
    padding: 10px; 
}

nav {
    text-align: center; 
}


h1 {
    background-color: blue;
    color: white; 
    padding: 10px; 
    margin: 0; 

}


img {
    width: 100%;
    height: auto; 
    border: 1px solid blue;
    display: block;
}
h2 {
    position: absolute;
    color: white; 
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    top: 50%;
    right: 1%;
    left: 0.5%;
    font-size:larger;
   


}
